USER_LIBS= \
	$(MYPJ)/bin.ss/$(GMAKE_TARGET_DIR)/libSmart.core.a \
	$(SDPPJ)/official.ss/$(GMAKE_TARGET_DIR)/libNemesis.app.a \
	$(SDPPJ)/official.ss/$(GMAKE_TARGET_DIR)/libNemesis.xml.a \
	$(SDPPJ)/official.ss/$(GMAKE_TARGET_DIR)/libNemesis.io.a \
	$(SDPPJ)/official.ss/$(GMAKE_TARGET_DIR)/libNemesis.core.a 

INCLUDE_LMK=$(MAKEFILES_DIR)/empty_include
