USER_CPP_FLAGS=-DQT_NO_DEBUG -DQT_GUI_LIB -DQT_CORE_LIB -DQT_SHARED -I$(QT_DIR)/mkspecs/linux-g++ -I. -I$(QT_DIR)/include/QtCore -I$(QT_DIR)/include -I$(QT_DIR)/include/QtGui

USER_LIBS= \
	$(MYPJ)/bin.ss/$(GMAKE_TARGET_DIR)/libSmart.analysis.a \
	$(MYPJ)/bin.ss/$(GMAKE_TARGET_DIR)/libSmart.description.a \
	$(MYPJ)/bin.ss/$(GMAKE_TARGET_DIR)/libSmart.structure.a \
	$(MYPJ)/bin.ss/$(GMAKE_TARGET_DIR)/libSmart.core.a \
	$(SDPPJ)/official.ss/$(GMAKE_TARGET_DIR)/libNemesis.app.a \
	$(SDPPJ)/official.ss/$(GMAKE_TARGET_DIR)/libNemesis.xml.a \
	$(SDPPJ)/official.ss/$(GMAKE_TARGET_DIR)/libNemesis.io.a \
	$(SDPPJ)/official.ss/$(GMAKE_TARGET_DIR)/libNemesis.core.a 

SYSTEM_LIBS += -Wl,-rpath,$(QT_DIR)/lib -L$(QT_DIR)/lib -lQtGui -L$(QT_DIR)/lib -L/usr/X11R6/lib -lpng -lSM -lICE -pthread -pthread -lXi -lXrender -lXrandr -lXfixes -lXcursor -lXinerama -lfreetype -lfontconfig -lXext -lX11 -lQtCore -lz -lm -pthread -lgthread-2.0 -lglib-2.0 -lrt -ldl -lpthread

QT_UIC=$(QT_DIR)/bin/uic
QT_MOC=$(QT_DIR)/bin/moc
OTHER_USER_RULES=qt.include
OTHER_USER_DEPENDENCES=$(GMAKE_TARGET_DIR)/MainWindow_ui.h $(GMAKE_TARGET_DIR)/MainWindow_moc.cc 
OTHER_USER_OBJECTS=$(GMAKE_TARGET_DIR)/MainWindow_moc.o 
USER_CPP_FLAGS += -I$(GMAKE_TARGET_DIR)

